@font-face {
    font-family: Ubuntu;
    src: url(\fonts\Ubuntu-Regular.ttf) format("truetype");
}

:root {
    --primary-color: #ffffff;
    /* White */
    --secondary-color: #ffffff;
    /* White */
    --text-color: #ffffff;
    /* White */
    --accent-color: #ccc;
    --background-color: #1a1a1a;
    /* Darker mix of black and grey */
    --button-background: #27272a;
    --button-hover: #1f2937;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

header {
    padding-top: 2rem;
}

nav {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 1rem;
}

footer {
    padding: 2rem 0;
    background-color: var(--button-background);
}

.footer-logo img {
    max-width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: none;
}

footer {
    padding: 2rem 0;
    background-color: transparent;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .content h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
}